:root {
  --color-bg: #07051b;
  --color-text: rgb(250, 236, 249);
  --canvas-bg: linear-gradient(
    to bottom,
    rgb(37, 12, 41, 0.9) 0%,
    rgba(11, 16, 66, 0.4) 50%,
    rgb(37, 12, 41, 0.9) 100%
  );

  --radius: 16px;
}
