:root {
  --color-bg: #07051b;
  --color-button-bg: rgb(38 163 34);
  --color-text: rgb(250 236 249);
  --color-text-accent: rgb(230 79 10);
  --canvas-bg: linear-gradient(to bottom, rgb(37 12 41 / 90%) 0%, rgb(11 16 66 / 40%) 50%, rgb(37 12 41 / 90%) 100%);
  --radius: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: inherit;
  font: inherit;

  border: none;
}

html,
body {
  position: relative;

  display: grid;
  width: 100%;
  height: 100%;

  font-family: "Stalinist One", sans-serif;
  font-size: 100%;

  background: url("https://i.postimg.cc/hhFD7Nkf/apps-47636-13819498107583324-fb06b53a-4974-4acb-85e6-f6f363f85ab6-edec48d0-ec35-4a1f-8bf5-c455987b4a.png")
    repeat top center;
  background-color: var(--color-bg);

  min-height: 100vh;
  place-items: center;
  color: var(--color-text);
}

.twinkling {
  position: absolute;

  background: url("https://i.postimg.cc/CLpNr4PF/twinkling.png");
  inset: 0;
  animation: 3s twinkle infinite linear;
}

#wrapper {
  position: relative;
  z-index: 1;

  border-radius: var(--radius);

  background: var(--canvas-bg);
  visibility: hidden;
  box-shadow:
    inset -16px -16px 18px rgb(61 17 73 / 60%),
    inset 16px 16px 18px rgb(61 17 73 / 60%);
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;
  padding: 36px;
  border-radius: var(--radius);

  background:
    linear-gradient(to bottom, rgb(32 63 109 / 70%) 0%, rgb(63 118 201 / 40%) 50%, rgb(32 63 109 / 70%) 100%),
    url("./space.png") no-repeat center center / cover;
  max-width: 460px;
  max-height: 460px;
  flex-direction: column;
  align-items: center;
  box-shadow:
    inset -12px -12px 20px rgb(48 98 173 / 80%),
    inset 12px 12px 20px rgb(48 98 173 / 80%);
  transform: translate(-50%, -50%);
}

#title {
  position: absolute;
  top: 0;
  transform: translateY(-50%);

  font-size: 2.8rem;

  background: linear-gradient(
    to bottom,
    rgb(255 253 111) 0%,
    rgb(241 145 20) 40%,
    rgb(207 30 30) 80%,
    rgb(207 30 30) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#levels {
  display: grid;
  padding: 24px;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: auto;
}

.levels-button {
  display: flex;
  padding: 16px 24px;
  border: none;
  border-radius: var(--radius);

  font-size: 1.25rem;

  background-color: var(--color-button-bg);
  color: inherit;
  text-shadow: 2px 2px 4px rgb(56 12 47 / 50%);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow:
    3px 3px 6px rgb(12 15 56 / 80%),
    inset -5px -5px 6px rgb(6 54 6 / 80%),
    inset 5px 5px 6px rgb(115 255 0 / 80%);
  transition: transform 0.3s ease 0s;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:active:not(:disabled) {
    transform: translate(2px, 1px);
  }
}

#score,
#lives {
  position: absolute;
  top: 6px;

  display: none;

  font-size: 1.15rem;
  user-select: none;
  text-shadow: 2px 2px 4px rgb(56 24 12 / 80%);
  align-items: center;
  gap: 6px;
}

#score {
  left: 16px;

  &::before {
    content: "score = ";

    font-size: 1rem;
    color: var(--color-text-accent);
  }
}

#lives {
  right: 16px;

  &::after {
    content: " x lives";

    font-size: 1rem;
    color: var(--color-text-accent);
  }
}

#total {
  position: relative;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: 100%;

  font-size: 1.25rem;

  &::before {
    content: "TOTAL SCORE:";
    color: var(--color-text-accent);

    font-size: 1rem;
  }
}

@keyframes twinkle {
  from {
    background-position: 0;
  }

  to {
    background-position: -100px 0;
  }
}

@media screen and (width <= 540px) {
  #start {
    padding: 30px 24px 20px;
    max-width: 360px;
    max-height: 360px;
  }

  #title {
    font-size: 2.25rem;
  }

  #levels {
    padding: 0;
  }

  .levels-button {
    padding: 12px 24px;
  }

  #score,
  #lives {
    top: 3px;

    font-size: 0.75rem;
  }

  #score {
    left: 8px;

    &::before {
      font-size: 0.75rem;
    }
  }

  #lives {
    right: 8px;

    &::after {
      font-size: 0.75rem;
    }
  }
}

@media screen and (width <= 360px) {
  #start {
    max-width: 330px;
  }

  #title {
    font-size: 2.25rem;
  }
}

@media screen and (height <= 540px) and (orientation: landscape) {
  #start {
    padding: 30px 16px 8px;
    max-width: 360px;
    max-height: 300px;
  }

  #title {
    font-size: 2rem;
  }

  #levels {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }

  .levels-button {
    padding: 8px 12px;
  }
}
